In [14]:
import pandas as pd

Read the dataset

In [15]:
ds=pd.read_csv('F:/Project/salary prediction/salary_predict_dataset.csv')

In [16]:
ds.head()

   experience  cgpa  Age  Interview_score  Salary
0         1.1     8   22               75   39343
1         1.3     7   23               74   46205
2         1.5     6   22               76   37731
3         2.0     8   24               78   43525
4         2.2     6   28               84   39881

In [17]:
ds.isnull().sum()

experience         0
cgpa               0
Age                0
Interview_score    0
Salary             0
dtype: int64

In [18]:
x=ds.iloc[:,:-1].values
y=ds.iloc[:,4:].values

In [19]:
x

array([[ 1.1,  8. , 22. , 75. ],
       [ 1.3,  7. , 23. , 74. ],
       [ 1.5,  6. , 22. , 76. ],
       [ 2. ,  8. , 24. , 78. ],
       [ 2.2,  6. , 28. , 84. ],
       [ 2.9,  7. , 24. , 85. ],
       [ 3.2,  8. , 26. , 79. ],
       [ 3.2,  8. , 27. , 77. ],
       [ 3.7,  9. , 22. , 73. ],
       [ 3.9,  7. , 24. , 71. ],
       [ 4. ,  8. , 28. , 85. ],
       [ 4. ,  5. , 24. , 86. ],
       [ 4.1,  6. , 26. , 99. ],
       [ 4.5,  7. , 24. , 84. ],
       [ 4.9,  8. , 27. , 75. ],
       [ 5.1,  7. , 24. , 46. ],
       [ 5.3,  6. , 25. , 75. ],
       [ 5.9,  9. , 21. , 78. ],
       [ 6. ,  7. , 27. , 95. ],
       [ 6.8,  8. , 29. , 63. ],
       [ 7.1,  5. , 28. , 79. ],
       [ 7.9,  7. , 30. , 88. ],
       [ 8.2,  6. , 31. , 81. ],
       [ 8.7,  3. , 29. , 87. ],
       [ 9. ,  7. , 36. , 86. ],
       [ 9.5,  5. , 34. , 84. ],
       [ 9.6,  4. , 38. , 79. ],
       [10.3,  9. , 40. , 73. ],
       [10.5,  4. , 39. , 75. ]])

In [20]:
y

array([[ 39343],
       [ 46205],
       [ 37731],
       [ 43525],
       [ 39881],
       [ 56642],
       [ 60150],
       [ 54445],
       [ 64445],
       [ 57189],
       [ 63218],
       [ 55789],
       [ 56954],
       [ 57081],
       [ 61111],
       [ 67938],
       [ 66029],
       [ 83022],
       [ 81363],
       [ 93940],
       [ 91738],
       [ 98724],
       [101302],
       [113338],
       [109431],
       [105582],
       [116945],
       [122391],
       [121872]], dtype=int64)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)

In [22]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(ds[['experience','cgpa','Age','Interview_score']],ds.Salary)

LinearRegression()

In [23]:
y_pred=regression.predict(x_test)
x_pred=regression.predict(x_train)

c:\Users\user\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
c:\Users\user\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [28]:
regression.predict([[1.1,2,22,75]])

c:\Users\user\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([31812.12329274])

In [30]:
import pickle
pickle.dump(regression,open('model.pkl','wb'))